



#PB {
    background-color: rgb(65, 32, 252);
    color:white;
    height: 36px;
    width: auto;
    padding-right: 165px;
    padding-top: 5px;
}


a {
    color:white;
    text-decoration: none;
}


col {
    
    
}


 #SB   {
    color:rgb(13, 110, 255);
    height: 91px;
}


#LOGO   {
    padding-top:10px;
    padding-left:343px;
    height:75px;

}


#SBU {
    color:rgb(13, 110, 255);
}


